
@{
    ViewBag.Title = "Index";
}

<h2>File</h2>
<form method="post" action="/File/Index">
    Введите имя файла: <input type=text name="fileName" />
    <input type="submit" value="Отправить" />
</form>

