
@{
    ViewBag.Title = "PathView";
}

<h2>PathView</h2>
<form method="post" action="/PathView/Index">
    <input type="text" name="value" value="" />
    <input type="submit" value="send" />
    </form>

