
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form method="post" action="/Redirect/Index">
    Введите число: <input type=text name="myNumber" />
    <input type="submit" value="Отправить" />
</form>

