
@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calc</title>
</head>
<body>
    <div>
        <form method="post" action="/Home/Index">
            <input type="text" name="stringForArray" value="" />
            <input type="submit" name="action" value="add" />
            <input type="submit" name="action" value="clear" />
        </form>
        @using (Html.BeginForm("CreateList", "Home"))
        {
            <input type="submit" value="create" />
        }
        @foreach (string ministring in (List<string>)Session["list"])
        {
            <p> @ministring</p>
        }

    </div>
</body>
</html>

